

<form (ngSubmit)="submit(form)" #form="ngForm" class="container my-3" id="needs-validation" novalidate>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom01">Name</label>
      <input name="name"  [(ngModel)]="name"type="text" class="form-control" id="validationCustom01"  required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationCustom02">Username</label>
      <input name="username"  [(ngModel)]="username" type="text" class="form-control" id="validationCustom02"  required>
      <div class="invalid-feedback">
        Please provide a valid e-mail.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">Password</label>
      <input name="password"  [(ngModel)]="password" type="text" class="form-control" id="validationCustom03"  required>
      <div class="invalid-feedback">
        Please provide a valid password.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom04">Airline Code</label>
      <input name="airlineCode"  [(ngModel)]="airlineCode" type="text" class="form-control" id="validationCustom04" required>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Signup</button>
  <p class="my-2 h7" >Click <a href="#">here </a>if you already signed up  </p>
</form>
