<div class="container">

      <div class="col">
        <div class="row">
          <label for="station">Station: </label>
          <input id="station" type="text" name="station" [(ngModel)]="station" >
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="arrival">Arrival: </label>
          <input  id="arrival" type="date" name="arrival" [(ngModel)]="arrival" >
        </div>
        <div class="input-field col s6">
          <label for="departure">Departure: </label>
          <input type="date" name="departure" [(ngModel)]="departure">
        </div>
      </div>
      <button  type="submit" (click)="addNew(station, arrival, departure)" class="btn btn-primary">Submit</button>

  </div>
